{% extends 'base.html' %}

{% load static %}

{% block TituloPagina %}
Login
{% endblock TituloPagina %}

{% block ImagenPrincipal %}
url('{% static 'assets/img/Registro.jpg' %}')
{% endblock ImagenPrincipal %}

{% load crispy_forms_tags %}

{% block Post %}


<br>
<br>
<div class="row">
    <div class="col-12 col-md-9 offset-md-2">
        <div class="card-body">
            <h2><center><u>Iniciar</u> <u>Sesión</u></center></h2>
            <hr>
            <form action="" method="POST"> 
            {% csrf_token %}
            {{ form | crispy }}
            <hr>
            <div class="d-flex justify-content-center mb-3 mt-4">
                <center><input type="submit" value="INICIAR" href="" class="btn btn-warning float-right"></center>
                &nbsp; &nbsp; &nbsp;
                <center><input type="submit" value="CANCELAR" href="" class="btn btn-danger float-right"></center>
                <br>
            </div>
            </form>
        </div>
    </div>
</div>
<center> Aún no tienes cuenta?  <a href="{% url 'registro' %}"><u>REGISTRATE</u></a> </center>
<br>

{% endblock Post %}

